@{
    ViewBag.Title = "Registrar Tipo Producto";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Registrar Tipo Producto</h2>

<form method="post">
    <label>Descripción</label>
    <input type="text" name="Descripcion" id="Descripcion" />

    <input type="submit" value="Registrar" />
</form>